<%- include('./includes/header',{title:'Erro 404' })%>
<!-- <%- include('./includes/nav')%> -->
<%- include('./includes/footer')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="dispaly-1 text-center">Erro 404!</h1>
      <p class="text-center lead">
        Página não econtrada
      </p>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
