<%- include('./includes/header',{title:'Pagina Inicial' })%> <%-
include('./includes/nav')%> <%- include('./includes/footer')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <div class="resposive-table my-3">
        <table class="table">
          <tr>
            <td>Daniel</td>
            <td>Maciel Duarte</td>
            <td>(51) 9999999999</td>
            <td>d@d.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
